body {
  background: #DCDCDC;
}

#main {
  margin: 30px auto;
  background: #DCDCDC;
  text-align: center;
}

#title {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px 20px;
  box-shadow: 10px 5px 5px #1A1D26;
  border-radius: 10px;
  background: #FFBD4F;
  color: #1A1D26;
}

#image {
  border: 1px solid #1A1D26;
}

#tribute-info {
  color: #1A1D26;
}

.pro {
  box-shadow: 10px 5px 5px #1A1D26;
  max-width: 800px;
  margin: 30px auto;
  padding: 10px 10px;
  border-radius: 10px;
  background: #FFBD4F;
  color: #1A1D26;  
}

.novels {
  box-shadow: 10px 5px 5px #1A1D26;
  max-width: 800px;
  margin: 30px auto;
  padding: 10px 10px;
  border-radius: 10px;
  background: #FFBD4F;
  color: #1A1D26;
}

strong {
  font-size: 20px;
  color: #B83A1B;
}

ul {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  line-height: 30px;
}

#wiki {
  box-shadow: 10px 5px 5px #1A1D26;
  max-width: 800px;
  margin: 30px auto;
  padding: 10px 10px;
  border-radius: 10px;
  background: #FFBD4F;
  color: #1A1D26;
}